<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="fc572.listeners.TestListener"/>
    </listeners>
    <test name="Api Tests">
        <classes>
            <class name="fc572.api.FakeApiTests"/>
        </classes>
    </test>
</suite>